<meta http-equiv="Refresh" content="0; url=https://docs.google.com/forms/d/e/1FAIpQLSeIC12Xhd0ASOAKm-kkfkbLT3xM4qHu0ZwWc_xkkq0vx1FzdQ/viewform?usp=sf_link">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="WoW#0001">
    <meta name="description" content="Only the best Pokémon community">
    <meta name="keywords" content="pokemon, discord, wow, pokédyy, pokedyy">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Pokédyy">
    <meta property="og:image" content="https://img.wowwowinc.com/uploads/big/2d121078764fdf19d0c9160e211ad40b.png">
    <meta property="og:description" content="Only the best Pokémon community!">
    <meta name="twitter:title" content="Pokédyy">
    <meta name="twitter:description" content="Only the best Pokémon community!">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://img.wowwowinc.com/uploads/big/2d121078764fdf19d0c9160e211ad40b.png">
    <meta name="theme-color" content="#ce208e">
	<link rel="apple-touch-icon" sizes="57x57" href="https://api.wowwowinc.com/pokedyy/img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="https://api.wowwowinc.com/pokedyy/img/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="https://api.wowwowinc.com/pokedyy/img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="https://api.wowwowinc.com/pokedyy/img/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="https://api.wowwowinc.com/pokedyy/img/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="https://api.wowwowinc.com/pokedyy/img/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="https://api.wowwowinc.com/pokedyy/img/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="https://api.wowwowinc.com/pokedyy/img/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://api.wowwowinc.com/pokedyy/img/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="https://api.wowwowinc.com/pokedyy/img/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://api.wowwowinc.com/pokedyy/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="https://api.wowwowinc.com/pokedyy/img/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://api.wowwowinc.com/pokedyy/img/favicon-16x16.png">
	<link rel="manifest" href="https://api.wowwowinc.com/pokedyy/img/manifest.json">
	<meta name="msapplication-TileColor" content="#ce208e">
    <meta name="msapplication-TileImage" content="https://api.wowwowinc.com/pokedyy/img/ms-icon-144x144.png">